/* color palette
.UI/UX-1-hex { color: #0528F2; }
.UI/UX-2-hex { color: #2E5FF2; }
.UI/UX-3-hex { color: #6B8DF2; }
.UI/UX-4-hex { color: #5AADBF; }
.UI/UX-5-hex { color: #F2F2F2; }

.UI/UX-1-rgba { color: rgba(4, 40, 242, 1); }
.UI/UX-2-rgba { color: rgba(46, 95, 242, 1); }
.UI/UX-3-rgba { color: rgba(106, 140, 242, 1); }
.UI/UX-4-rgba { color: rgba(89, 172, 191, 1); }
.UI/UX-5-rgba { color: rgba(242, 242, 242, 1); }

.UI/UX-1-hsla { color: hsla(230, 96, 48, 1); }
.UI/UX-2-hsla { color: hsla(225, 88, 56, 1); }
.UI/UX-3-hsla { color: hsla(225, 84, 68, 1); }
.UI/UX-4-hsla { color: hsla(191, 44, 55, 1); }
.UI/UX-5-hsla { color: hsla(0, 0, 95, 1); }
*/
@import '~highlight.js/styles/atom-one-dark.css';

body {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;

  font-family: 'Noto Sans KR', sans-serif;
}
#header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(172, 172, 172, 0.4);
  z-index: 1;
}
#header .title {
  margin: 10px;
  margin-left: 20px;
}
#menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid rgba(172, 172, 172, 0.4);

  padding: 10px;
}
#menu h2 {
  padding-left: 15px;
  color: #2E5FF2;
  margin-top: 100px;
}

#menu li {
  list-style-type: none;
  width: calc(100% - 20px);
  padding: 2px 0 2px 20px;
  margin: 4px 0 4px 0;
  border-radius: 5px;
}
#menu li:hover {
  cursor: pointer;
  background-color: rgba(172, 172, 172, 0.2);
}
#menu .select {
  background-color: #cacde0;
  color: #2E5FF2;
}
#menu .select:hover {
  background-color: #bbbed3;
}

#root {
  margin-left: 280px;
  margin-top: 100px;
  width: calc(100% - 340px);
  min-width: 500px;
}
#root .title {
  font-size: 40px;
}
#root .example {
  border: 1px solid rgba(172, 172, 172, 0.4);
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
