.carousel {
  position: relative;
  
  width: 400px;
  height: 200px;
  overflow: hidden;
}
.carousel_slider {
  --idx: 1;
  --sec: 0.5;

  display: flex;
  width: 3000px;

  transform: translateX(calc(400px * var(--idx) * -1));
  transition: transform calc(var(--sec) * 1s) ease-out;
}
.carousel_item {
  width: 400px;
  height: 200px;
}
.carousel_rbutton {
  background: none;
  color: white;
  width: 40px;
  height: 30px;
  font-weight: bold;
  border: none;

  position: absolute;
  top: 80px;
  right: 10px;
  font-size: 30px;
}
.carousel_lbutton {
  background: none;
  color: white;
  width: 40px;
  height: 30px;
  font-weight: bold;
  border: none;

  position: absolute;
  top: 80px;
  left: 10px;
  font-size: 30px;
}