.code_editor {
  position: relative;

  font-size: 1rem !important;
}
.code_editor .setting {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 500px;
  height: 500px;
}
.code_editor .input {
  z-index: 1;
  background-color: transparent;

  resize: none;
  border: none;

  color: rgba(0,0,255,0);
  caret-color: white;
  font-size: 1rem;
  padding: 0;
}
.code_editor pre {
  z-index: 0;

  color: white;
  margin: 0;
}
.code_editor pre code {

  padding: 0;
}