.kui_dropdown {
  position: relative;
}
.kui_dropdown_box {
  width: 50px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 0 10px;
  line-height: 30px;

  color: rgb(172, 172, 172);
}
.kui_dropdown_box.active {
  border: 2px solid rgba(1,1,1,1);
   
}
.kui_dropdown_menu {
  display: none;
  position: absolute;
  top: auto;
  left: 1px;

  width: 72px;
  background: white;
  box-shadow: 0px 0px 5px black;
  border-radius: 4px;
}
.kui_dropdown_item {
  width: calc(100% - 20px);
  padding: 4px 10px;
}
.kui_dropdown_item:hover {
  background: rgba(172, 172, 172, 0.2);
}