.kui_togglemenu {
  border: 1px solid rgba(172, 172, 172, 0.5);
  border-radius: 5px;

  display: flex;
  flex-direction: row;
}
.kui_togglemenu_icon {
  border-right: 1px solid rgba(172, 172, 172, 0.5);
  padding: 2px 5px;
}
.kui_togglemenu .select {
  background: rgba(172, 172, 172, 0.5)
}