.button {
  display: inline-block;
  position: relative;

  padding: 4px 15px;
  color: black;
  overflow: hidden;

  border: 1px solid rgba(1,1,1,0.5);
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s, border 0.3s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover {
  background-color: rgba(1,1,1, 0.1);  
  border: 1px solid rgba(1,1,1,1);
}
.button_wave {
  --scale: 0;
  --duration: 0.3s;
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-color: rgba(1,1,1,0.3);
  transform: scale(var(--scale), var(--scale));
  transform-origin: center;
  transition: transform var(--duration), opacity var(--duration);
}
