.kui_onoffswitch {
  position: relative;

  width: 40px;
}
.kui_onoffswitch_icon {
  --x: -10%;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  position: absolute;
  top: 2px;
  left: 0;

  box-shadow: 1px 1px 5px black;
  background: white;

  transform: translateX(var(--x));
  transition: transform 0.3s;
}
.kui_onoffswitch_leftbar {
  display: inline-block;
  --width: 0%;
  background: rgba(1,1,1,1);

  width: var(--width);
  height: 14px;
  border-radius: 14px;

  transition: width 0.3s;
}
.kui_onoffswitch_rightbar {
  display: inline-block;
  --width: 100%;
  background: rgba(1,1,1,0.4);

  width: var(--width);
  height: 14px;
  border-radius: 14px;

  transition: width 0.3s;
}
