div {
  
}

.context_wrap {
  display: inline-block;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px gray;
}

.context_item {
  display: block;
  position: relative;
  
  width: 200px;
  height: 20px;
}
.context_item:hover {
  cursor: pointer;
  background-color: gray;
}

.context {
  --top: 0;
  --left: 0;

  display: none;
  position: absolute;
  top: var(--top);
  left: var(--left);
  z-index: 99;

  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px gray;
  width: 100px;
  height: 100px;
  background-color: rgb(240, 240, 240);
}
