.kui_slider {
  --width: 0px;

  position: relative;
  width: var(--width);
  height: 20px;
}
.kui_slider .kui_slider_up {
  display: inline-block;

  --scale: 0%;
  background: rgba(1,1,1,1);
  width: var(--scale);
  height: 8px;
  border-radius: 4px;
  margin-bottom: 6px;
}
.kui_slider .kui_slider_down {
  display: inline-block;

  --scale: 100%;
  background: rgba(1,1,1,0.3);
  width: var(--scale);
  height: 6px;
  border-radius: 3px;
  margin-bottom: 7px;
}
.kui_slider_marker {
  --value: 0px;
  position: absolute;
  top: -1px;
  left: -10px;

  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: rgba(1,1,1,1);

  transform: translateX(var(--value));
}