.contextmenu {
  display: inline-block;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px gray;
}

.contextmenu_menu {
  display: block;
  position: relative;
  
  width: 200px;
  height: 20px;

  padding-left: 10px;
  margin: 0;
}
.contextmenu_menu:hover {
  cursor: pointer;
  background-color: gray;
}

.contextmenu_context {
  --top: 0;
  --left: 0;

  display: none;
  position: absolute;
  top: var(--top);
  left: var(--left);
  z-index: 99;

  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px gray;
  
  background-color: rgb(240, 240, 240);

  padding: 10px;
  margin: 0;
}
