.explain table {
  width: 100%;
  border-collapse: collapse;  
}
.explain table thead tr {
  font-weight: 900;
}
.explain table thead tr th {
  border: 1px solid rgba(172, 172, 172, 0.5);
  padding: 5px;
}
.explain table tbody tr {
  
}
.explain table tbody tr td {
  border: 1px solid rgba(172, 172, 172, 0.5);
  padding: 5px;
}
.explain table tbody tr td:first-child {
  width: 50px;
}
.explain pre code {
  border-radius: 8px;
  background-color: #282c34;

  font-size: 15px;
}
.explain code {
  background-color: rgba(172, 172, 172, 0.3);
  padding: 1px 2px;
  border-radius: 3px;
}