.kui_slidecarousel {
  --width: 0;
  position: relative;
  overflow-x: hidden;

  width: var(--width);
}
.kui_slidecarousel_slider {
  --num: 0;
  --sec: 0.5;
  --idx: 1;

  display: flex;
  width: calc(var(--width) * var(--num));

  transform: translateX(calc(var(--width) * -1 * var(--idx)));
  transition: transform var(--sec);
}
.kui_slidecarousel_item {
  width: var(--width);
  height: 100%;
}
.kui_slidecarousel_rbutton {
  background: none;
  color: white;
  width: 40px;
  height: 30px;
  font-weight: bold;
  border: none;

  position: absolute;
  top: calc(50% - 20px);
  right: 10px;
  font-size: 30px;
}
.kui_slidecarousel_lbutton {
  background: none;
  color: white;
  width: 40px;
  height: 30px;
  font-weight: bold;
  border: none;

  position: absolute;
  top: calc(50% - 20px);
  left: 10px;
  font-size: 30px;
}