.kui_list {
  width: 80%;
  border: 2px solid rgba(172, 172, 172, 0.5);
  border-radius: 5px;
}
.kui_list_li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 10px 15px;
}

.kui_list_li:hover {
  background-color: rgba(172,172,172, 0.2);
}
.kui_list_title {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px 15px;
  background-color: rgba(172, 172, 172, 0.5);
}
.kui_list_space {
  width: 17px;
}
.kui_list_item {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-grow: 1;
  flex-basis: 0;

  border-radius: 4px;
}

.kui_list_item span {
  margin-right: 5px;
}
